@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Jersey+25&family=Jersey+25+Charted&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');



body {
  margin: 0;
  padding: 0;
  background: linear-gradient(85deg, #091458, #000000);
  height: auto;
  font-family: 'Roboto', sans-serif;
}



.card:hover {
  height: 254px;
  transform: skew(0deg);
}

.align {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-self: flex-start;
}

.red {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff605c;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}

.yellow {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffbd44;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}

.green {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00ca4e;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}

.card h1 {
  text-align: center;
  margin: 1.3rem;
  color: rgb(218, 244, 237);
  text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573);
}

:root {
  --menu-width: 37.5em; 
  --items: 4; 
  --item-width: calc(var(--menu-width) / var(--items));
}



nav {
  width: var(--menu-width);
  display: flex;
  transform-style: preserve-3d;
  justify-content: space-evenly;
  position: relative;
  z-index: 2;
  margin: 0px auto;
  perspective: 2000px;
  flex-wrap: wrap;
}

nav .menu-item {
  color: white;
  font-weight: 600;
  transform-style: preserve-3d;
  flex-grow: 1;
  display: flex;
  flex-basis: var(--item-width);
  box-sizing: border-box;
  padding: 1em 1.5em;
  justify-content: center;
  perspective: 200px;
  letter-spacing: 0.5px;
  min-height: 7.5em;
}

nav .menu-text, nav .menu-text a {
  font-size: 1em;
  color: white;
  text-decoration: none;
  text-shadow: 0 1px 5px rgba(0,0,0,0.1);
  transition: color 0.1s ease-out;
  text-align: center;
}

nav .menu-text a:hover {
  color: rgba(255,255,255,0.5);
}

.menu-item .sub-menu {
  position: absolute;
  color: rgba(0,0,0,0.5);
  border-radius: 10px;
  min-width: 27.5em;
  pointer-events: none;
  box-sizing: border-box;
  z-index: 999;
  margin-left: -5em;
  clip-path: inset(0 10em 10em 15em);
  opacity: 0;
  font-weight: initial;
  padding: 1.5em;
  transition: all 0.25s ease-out, opacity 0.25s ease-in, margin-left 0.25s ease-out, clip-path 0.15s ease-out;
}


#hero{
  margin-top: 6rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-image {
  width: 35%;
  margin-bottom: 25px;
}
.hero-image:hover{

  background-position: right;
  transition-duration: 1s;
}

.hero-image img {
  margin-top:-4.2em;
  width: 100%;
  border-radius: 50% 70% / 10% 40%;  object-fit: cover;
  border: 10px solid #00000023; /* White border */
  box-shadow: rgba(165, 185, 65, 0.25) 0px 50px 100px -20px, rgba(204, 199, 69, 0.3) 0px 30px 60px -30px, rgba(207, 218, 54, 0.35) 0px -2px 6px 0px inset;}

.hero-content {
  width: 80%;
}

.hero-content h1 {
 margin-left: -38em;
 font-size: x-large;
 font-weight: 300;
 font-style: oblique;
 color: goldenrod;
}

.icons{
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 5em;
}

.vt{
  display: flex;
  gap:50px;
}





/*
icons
*/
.ico {
  display: inline-flex;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

.ico .icon {
  position: relative;
  background: #000000;
  border-radius: 50%;
  margin-left: 15px;
  color: rgb(211, 189, 60);
  width: 40px;
  height: 40px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 8px 8px 13px rgba(120, 158, 38, 0.566);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.ico .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.ico .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.ico .icon:hover span,
.ico .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.ico .facebook:hover,
.ico .facebook:hover .tooltip,
.ico .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.ico .twitter:hover,
.ico .twitter:hover .tooltip,
.ico .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.ico .instagram:hover,
.ico .instagram:hover .tooltip,
.ico .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}
/*
icons
*/





/*
hire me
*/
.Btn {
  width: 10em;
  height:3em;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
  background-size: 250%;
  background-position: left;
  color: #ffd277;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  overflow: hidden;
}

.Btn::before {
  position: absolute;
  content: "Hire Me";
  color: #ffd277;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  height: 90%;
  border-radius: 8px;
  transition-duration: 1s;
  background-color: rgba(0, 0, 0, 0.842);
  background-size: 200%;
}

.Btn:hover {
  background-position: right;
  transition-duration: 1s;
}

.Btn:hover::before {
  background-position: right;
  transition-duration: 1s;
}

.Btn:active {
  transform: scale(0.95);
}



.do {
  width: 12em;
  height:3.2em;
  border-radius:10px;
  border-width: 5px;
  border-color: #3a1010;
  background: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
  background-size: 250%;
  background-position: left;
  color: #000000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  overflow: hidden;
}

.do::before {
  position: absolute;
  content: "Download CV";
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  height: 90%;
  border-radius: 8px;
  transition-duration: 1s;
  background-color: #ffd277,;
  background-size: 200%;
}

.do:hover {
  background-position: right;
  transition-duration: 1s;
}

.do:hover::before {
  background-position: right;
  transition-duration: 1s;
} 

.do:active {
  transform: scale(0.95);
}





/*
hire me
*/











/*
title
*/

:root {
  --gold: #ffb338;
  --light-shadow: #77571d;
  --dark-shadow: #3e2904;
}

.wrapper {
  display: grid;
  text-transform: uppercase;
  margin-left: -55rem;
}
.wrapper > div {
  background-clip: text;  
  -webkit-background-clip: text;
  color: #363833;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: clamp( 3em, 8vw, 4.5rem);
  grid-area: overlap;
  letter-spacing: 1px;
  -webkit-text-stroke: 4px transparent;
}
div.bg {
  background-image: repeating-linear-gradient( 105deg, 
    var(--gold) 0% , 
    var(--dark-shadow) 5%,
    var(--gold) 12%);
  color: transparent;
  filter: drop-shadow(5px 15px 15px black);
  transform: scaleY(1.05);
  transform-origin: top;
}

div.fg{
  background-image: repeating-linear-gradient( 5deg,  
    var(--gold) 0% , 
    var(--light-shadow) 23%, 
    var(--gold) 31%);
  color: #1e2127;
  transform: scale(1);
  
}

.hero-content p {
  font-size:1.7em;
  font-family: '';
  color: rgb(255, 255, 255);
  text-shadow: 15px 15px 7px #000000;
  margin: 3em 0 2em -14em;
}

.hero-content p span{
  font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:1.5em;
  text-shadow: 15px 15px 10px #000000;
  color: goldenrod;
}

/*
title
*/




/*
contact
*/

.orange {
  color: goldenrod;
}

.form-container {
  max-width: 700px;
  background-color: #001925;
  padding: 30px;
  
  border-left: 5px solid goldenrod;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
}

.heading {
  display: block;
  color: goldenrod;
  font-size: 1.5rem;
  text-shadow: 0px 0px 18px gold;
  font-weight: 800;
  margin-bottom: 20px;
}

.form-container .form .input {
  color: #87a4b6;
  width: 100%;
  background-color: #002733;
  border: none;
  outline: none;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  border-left: 1px solid transparent;
}

.form-container .form .input:focus {
  border-left: 5px solid goldenrod;
}

.form-container .form .textarea {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #013747;
  color: goldenrod;
  font-weight: bold;
  resize: none;
  max-height: 150px;
  margin-bottom: 20px;
  border-left: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.form-container .form .textarea:focus {
  border-left: 5px solid goldenrod;
}

.form-container .form .button-container {
  display: flex;
  gap: 10px;
}

.form-container .form .button-container .send-button {
  flex-basis: 70%;
  background: gold;
  padding: 10px;
  color: #001925;
  text-align: center;
  font-weight: bold;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.form-container .form .button-container .send-button:hover {
  background: transparent;
  border: 1px solid gold;
  color: gold;
}

.form-container .form .button-container .reset-button-container {
  filter: drop-shadow(1px 1px 0px gold);
  flex-basis: 30%;
  cursor:pointer;
}

.form-container .form .button-container .reset-button-container .reset-button {
  position: relative;
  text-align: center;
  padding: 10px;
  color: gold;
  font-weight: bold;
  background: #001925;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
}

.form-container .form .button-container .reset-button-container .reset-button:hover {
  background: gold;
  color: #001925;
}

.contact-container{
  display: flex;
  justify-content: left;
}



/* Add your existing styles for form, inputs, buttons, etc. */

/*
contact
*/

.con {
  font-family: 'Bebas Neue', cursive;
  font-size: 3em;
  position: absolute;
  right: 2em;
  top: 4em;
  color: #fff;
  text-shadow:10px 8px 10px goldenrod;
  transform: translate(-50%,-50%);
  background-image: linear-gradient(goldenrod, goldenrod);
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
   transition: background-size .7s, background-position .5s ease-in-out;
}

.con:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position .7s, background-size .5s ease-in-out;
  text-shadow: 10px 10px 10px #000000;
}

.cont{
  color: floralwhite;
}

.contact-text{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-large;
  margin-top: 5em;
  margin-left: 3em;
}







/* Add these styles to your CSS file */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9998;
}

.form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.316);
  padding: 20px;
  z-index: 9999; /* Ensure it's above the overlay */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input, .textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.send-button, .reset-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.send-button {
  background: #007bff;
  color: white;
}

.reset-button {
  background: #ccc;
  color: black;
}



/*
cards js
*/


.cardss {
  display: flex;
  height: 70px;
  width: 270px;
  margin-right: -7em;
}

.cardss svg {
  position: absolute;
  display: flex;
  width: 60%;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
  cursor: pointer;
}

.cardss .social-link1,.cardss .social-link2,.cardss .social-link3,.cardss .social-link4 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 50px;
}

.cardss svg {
  transform: scale(1);
}

.cardss .social-link1:hover {
  background-color: #1a1e22;
  animation: bounce_613 0.4s linear;
}

.cardss .social-link2:hover {
  background-color: #0a66c2;
  animation: bounce_613 0.4s linear;
}

.cardss .social-link3:hover {
  background-color: #0059f7;
  animation: bounce_613 0.4s linear;
}

.cardss .social-link4:hover {
  background-color: #1d4292;
  animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}


/*
cards js
*/










/* Typing effect styles */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black }
}

.typing-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid black;
  font-family: monospace;
  font-size: 1.2em;
  animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
}














.skills-section {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 0 auto;
}

.skills-section h2 {
  margin-bottom: 60px;
  font-size: 3em;
  font-family: 'Gill Sans';
  color: #ffffff;
  text-align: center;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.skill-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.skill-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 20px rgba(113, 164, 230, 0.974);
  
}

.skill-icon {
  font-size: 70px;
  margin-bottom: 10px;
  color: #2fa3c4; /* React icon color */
}
/* 
.skill-icon:hover {

  filter: drop-shadow(0 0 20px black);
} */

.skill-info {
  text-align: center;
}

.skill-name {
  font-size: 18px;
  margin: 0;
  font-weight: bold;
  color: #333;
}

.skill-level {
  font-size: 14px;
  color: #666;
}







/*
projects
*/

.projects-section h1 {
  
  color: white;
  font-size: 3em;
  font-family: 'Gill Sans';
  margin: 3em 0 2em 0 ;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

.project-card{
  background: #fff;
  border-radius: 8px;
  padding: 20px;  
  text-align: center;
}

.project-card img{
  border: 2px solid #ddd;
  width: auto;
}

.project-name {
  margin-top:1.5em;
  font-size: 1.7em;
  font-weight: 600;
  margin-bottom: 20px;
}

.project-description{
  font-size: 1.2em;
  margin-bottom: 30px;
}

.project-button {
  background-color: #0059f7   ;
  color: #ffffff;
  padding: 5px;
  width: 15em;
  height: 3em;
  margin-top:2em;
  border-radius: 5px;
  text-decoration: none;
}

.categories {
  display: flex;
  gap: 10px;
}

.project-technology {
  background-color: #0a89a8;
  color: white;
  padding: 7px 12px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 50em;
}

.jjj {
  text-align: center;
  margin-top: 50px;
}

.jkk {
  font-size: 2em;
  margin-bottom: 20px;
}

.ll {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.bbb {
  font-size: 1em;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.bbb:hover {
  background-color: #0056b3;
}











